.body{
	padding: 20px 30px;
}

nav{
	display: block;
	position: fixed;
	background-color: #404040;
	color: #eee;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li{
	display: inline-block;
	margin: 10px 20px;
	cursor: pointer;
	font-weight: 600;
	padding: 5px 10px;
	border-radius: 5px;
}
nav li:hover{
	transition: 300ms;
	background-color: #eee;
	color: #404040;
}
a{
	text-decoration: none;
	color: inherit;
}
button{
	border: none;	
}
.mainbody{
	margin-top: 30px;
	color: #404040;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.mainbody h1{
	text-align: center;
}

